*
!.gitignore
!users_avatars/
users_avatars/*
!users_avatars/default.png
!users_avatars/boy_1.jpg
!users_avatars/boy_2.jpg
!users_avatars/boy_3.jpg
!users_avatars/boy_4.jpg
!users_avatars/boy_5.jpg
!users_avatars/girl_1.jpg
!users_avatars/girl_2.jpg
!users_avatars/girl_3.jpg
!users_avatars/girl_4.jpg
!users_avatars/girl_5.jpg
!users_avatars/girl_6.jpg
!reviewers/
reviewers/*
!reviewers/man-1.webp
!reviewers/man-2.webp
!reviewers/man-3.webp
!reviewers/man-4.webp
!reviewers/man-5.webp
!reviewers/woman-1.webp
!reviewers/woman-2.webp
!reviewers/woman-3.webp
!reviewers/woman-4.webp
