@layer base {
    @font-face {
        font-family: "hacen";
        font-weight: 100;
        src: url("./fonts/hacen.ttf") format('truetype');
    }
    @font-face {
        font-family: "nitaqat";
        font-weight: 100;
        src: url("./fonts/nitaqat.ttf") format('truetype');
    }
    @font-face {
        font-family: "judur";
        font-weight: 100;
        src: url("./fonts/judur.otf") format('truetype');
    }
    @font-face {
        font-family: "arabic_handwrite";
        font-weight: 100;
        src: url("./fonts/arabic_handwrite.ttf") format('truetype');
    }
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.course-img {
    width: 100%;
        height: 100%;
        background-image: linear-gradient(#ffffff 1.1rem, #ccc 1.2rem);
        background-size: 100% 1.2rem;
}